logic-app-email-pricessor
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",

  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "email-processor-logic-app",
      "metadata": { "description": "Name of the Logic App." }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region for deployment." }
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365",
      "metadata": { "description": "Name of the Office 365 API connection." }
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "servicebus",
      "metadata": { "description": "Name of the Service Bus API connection." }
    },
    "azureBlobConnectionName": {
      "type": "string",
      "defaultValue": "azureblob",
      "metadata": { "description": "Name of the Azure Blob Storage API connection." }
    },
    "serviceBusConnectionString": {
      "type": "securestring",
      "metadata": { "description": "Service Bus namespace connection string." }
    },
    "storageAccountName": {
      "type": "string",
      "metadata": { "description": "Azure Storage account name." }
    },
    "storageAccountKey": {
      "type": "securestring",
      "metadata": { "description": "Azure Storage account key." }
    },
    "emailPollCount": {
      "type": "int",
      "defaultValue": 50,
      "metadata": { "description": "Number of unread emails to fetch per poll." }
    },
    "maxAttachmentSizeMB": {
      "type": "int",
      "defaultValue": 25,
      "metadata": { "description": "Maximum allowed attachment size in MB." }
    },
    "stagingContainer": {
      "type": "string",
      "defaultValue": "email-staging",
      "metadata": { "description": "Blob container name for staging attachments." }
    },
    "serviceBusQueueName": {
      "type": "string",
      "metadata": { "description": "Service Bus queue name." }
    },
    "failedEmailsFolder": {
      "type": "string",
      "defaultValue": "FailedEmails",
      "metadata": { "description": "Outlook folder name for failed emails." }
    }
  },

  "variables": {
    "maxAttachmentSizeBytes": "[mul(parameters('maxAttachmentSizeMB'), 1048576)]",
    "office365ConnectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
    "serviceBusConnectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
    "azureBlobConnectionId": "[resourceId('Microsoft.Web/connections', parameters('azureBlobConnectionName'))]"
  },

  "resources": [

    // ── API Connections ───────────────────────────────────────────────────────

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('serviceBusConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Service Bus Connection",
        "parameterValues": {
          "connectionString": "[parameters('serviceBusConnectionString')]"
        },
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/servicebus')]"
        }
      }
    },

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureBlobConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Blob Storage Connection",
        "parameterValues": {
          "accountName": "[parameters('storageAccountName')]",
          "accessKey": "[parameters('storageAccountKey')]"
        },
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
        }
      }
    },

    // ── Logic App ─────────────────────────────────────────────────────────────

    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('office365ConnectionId')]",
        "[variables('serviceBusConnectionId')]",
        "[variables('azureBlobConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",

          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },

          "triggers": {
            "Poll_Inbox_Every_5_Minutes": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                },
                "method": "get",
                "path": "/Mail",
                "queries": {
                  "fetchOnlyWithAttachment": false,
                  "folderPath": "Inbox",
                  "importance": "Any",
                  "includeAttachments": true,
                  "top": "@parameters('emailPollCount')",
                  "isRead": false
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              },
              "runtimeConfiguration": {
                "concurrency": { "runs": 1 }
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },

          "actions": {

            // ── Step 1: Sanitise MessageId ──────────────────────────────────
            "Sanitise_MessageId": {
              "type": "Compose",
              "inputs": "@replace(replace(replace(replace(replace(replace(triggerBody()?['InternetMessageId'], '<', ''), '>', ''), '@', '-'), '.', '-'), ' ', '-'), '/', '-')",
              "runAfter": {}
            },

            // ── Step 2: Extract sender email address only ───────────────────
            "Extract_Sender_Address": {
              "type": "Compose",
              "inputs": "@if(contains(triggerBody()?['From'], '<'), substring(triggerBody()?['From'], add(indexOf(triggerBody()?['From'], '<'), 1), sub(sub(length(triggerBody()?['From']), indexOf(triggerBody()?['From'], '<')), 2)), triggerBody()?['From'])",
              "runAfter": {
                "Sanitise_MessageId": [ "Succeeded" ]
              }
            },

            // ── Step 3: Build folder path ───────────────────────────────────
            "Build_Folder_Path": {
              "type": "Compose",
              "inputs": "@concat(parameters('stagingContainer'), '/', outputs('Sanitise_MessageId'), '_', formatDateTime(triggerBody()?['DateTimeReceived'], 'yyyyMMddHHmmss'), '/')",
              "runAfter": {
                "Extract_Sender_Address": [ "Succeeded" ]
              }
            },

            // ── Step 4: Check body size (256KB Service Bus limit) ───────────
            "Check_Body_Size": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(coalesce(triggerBody()?['Body'], ''))",
                      200000
                    ]
                  }
                ]
              },
              "actions": {
                // Body too large → move to FailedEmails → log to Azure Monitor
                "Log_Large_Body_To_Monitor": {
                  "type": "Compose",
                  "inputs": {
                    "severity": "Critical",
                    "message": "LogicAppFailed - Email body exceeds size limit",
                    "messageId": "@outputs('Sanitise_MessageId')",
                    "senderAddress": "@outputs('Extract_Sender_Address')",
                    "emailSubject": "@triggerBody()?['Subject']",
                    "reason": "Email body size exceeds 200KB Service Bus message limit"
                  },
                  "runAfter": {}
                },
                "Move_Large_Body_Email_To_Failed": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                    },
                    "method": "post",
                    "path": "/Mail/Move/@{encodeURIComponent(triggerBody()?['Id'])}",
                    "body": {
                      "DestinationId": "[parameters('failedEmailsFolder')]"
                    }
                  },
                  "runAfter": {
                    "Log_Large_Body_To_Monitor": [ "Succeeded" ]
                  }
                },
                "Terminate_Large_Body": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Cancelled"
                  },
                  "runAfter": {
                    "Move_Large_Body_Email_To_Failed": [ "Succeeded" ]
                  }
                }
              },
              "else": { "actions": {} },
              "runAfter": {
                "Build_Folder_Path": [ "Succeeded" ]
              }
            },

            // ── Step 5: Process each attachment ────────────────────────────
            "Process_Each_Attachment": {
              "type": "Foreach",
              "foreach": "@triggerBody()?['Attachments']",
              "actions": {

                // ── 5a: Check attachment size ─────────────────────────────
                "Check_Attachment_Size": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@item()?['ContentBytes']",
                          "[variables('maxAttachmentSizeBytes')]"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Log_Large_Attachment_To_Monitor": {
                      "type": "Compose",
                      "inputs": {
                        "severity": "Critical",
                        "message": "LogicAppFailed - Attachment exceeds size limit",
                        "messageId": "@outputs('Sanitise_MessageId')",
                        "senderAddress": "@outputs('Extract_Sender_Address')",
                        "emailSubject": "@triggerBody()?['Subject']",
                        "attachmentName": "@item()?['Name']",
                        "reason": "@concat('Attachment size exceeds ', string(parameters('maxAttachmentSizeMB')), 'MB limit')"
                      },
                      "runAfter": {}
                    },
                    "Move_Large_Attachment_Email_To_Failed": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                        },
                        "method": "post",
                        "path": "/Mail/Move/@{encodeURIComponent(triggerBody()?['Id'])}",
                        "body": {
                          "DestinationId": "[parameters('failedEmailsFolder')]"
                        }
                      },
                      "runAfter": {
                        "Log_Large_Attachment_To_Monitor": [ "Succeeded" ]
                      }
                    },
                    "Terminate_Large_Attachment": {
                      "type": "Terminate",
                      "inputs": { "runStatus": "Cancelled" },
                      "runAfter": {
                        "Move_Large_Attachment_Email_To_Failed": [ "Succeeded" ]
                      }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": {}
                },

                // ── 5b: Sanitise attachment filename ──────────────────────
                "Sanitise_Attachment_Filename": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(replace(replace(replace(replace(item()?['Name'], ' ', '-'), '#', '-'), '&', '-'), '(', '-'), ')', '-'), '@', '-'), ',', '-')",
                  "runAfter": {
                    "Check_Attachment_Size": [ "Succeeded" ]
                  }
                },

                // ── 5c: Upload attachment to staging blob ─────────────────
                "Upload_Attachment_To_Blob": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": { "name": "@parameters('$connections')['azureblob']['connectionId']" }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                      "folderPath": "@concat('/', outputs('Build_Folder_Path'))",
                      "name": "@outputs('Sanitise_Attachment_Filename')",
                      "queryParametersSingleEncoded": true
                    },
                    "body": "@base64ToBinary(item()?['ContentBytes'])"
                  },
                  "runAfter": {
                    "Sanitise_Attachment_Filename": [ "Succeeded" ]
                  },
                  "retryPolicy": {
                    "type": "fixed",
                    "count": 3,
                    "interval": "PT10S"
                  }
                },

                // ── 5d: Handle blob upload failure ────────────────────────
                "Check_Blob_Upload_Result": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@actions('Upload_Attachment_To_Blob')['status']",
                          "Failed"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Log_Blob_Upload_Failure_To_Monitor": {
                      "type": "Compose",
                      "inputs": {
                        "severity": "Critical",
                        "message": "LogicAppFailed - Blob upload failed after 3 retries",
                        "messageId": "@outputs('Sanitise_MessageId')",
                        "senderAddress": "@outputs('Extract_Sender_Address')",
                        "emailSubject": "@triggerBody()?['Subject']",
                        "attachmentName": "@outputs('Sanitise_Attachment_Filename')",
                        "reason": "Failed to upload attachment to Azure Blob Storage after 3 retries"
                      },
                      "runAfter": {}
                    },
                    "Move_Blob_Failed_Email_To_Failed": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                        },
                        "method": "post",
                        "path": "/Mail/Move/@{encodeURIComponent(triggerBody()?['Id'])}",
                        "body": {
                          "DestinationId": "[parameters('failedEmailsFolder')]"
                        }
                      },
                      "runAfter": {
                        "Log_Blob_Upload_Failure_To_Monitor": [ "Succeeded" ]
                      }
                    },
                    "Terminate_Blob_Upload_Failed": {
                      "type": "Terminate",
                      "inputs": { "runStatus": "Failed" },
                      "runAfter": {
                        "Move_Blob_Failed_Email_To_Failed": [ "Succeeded" ]
                      }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": {
                    "Upload_Attachment_To_Blob": [ "Succeeded", "Failed" ]
                  }
                }
              },
              "runAfter": {
                "Check_Body_Size": [ "Succeeded" ]
              }
            },

            // ── Step 6: Build Service Bus message payload ───────────────────
            "Build_Service_Bus_Payload": {
              "type": "Compose",
              "inputs": {
                "MessageId": "@outputs('Sanitise_MessageId')",
                "SenderAddress": "@outputs('Extract_Sender_Address')",
                "EmailSubject": "@triggerBody()?['Subject']",
                "EmailBody": "@triggerBody()?['Body']",
                "EmailAttachmentPath": "@if(empty(triggerBody()?['Attachments']), null, outputs('Build_Folder_Path'))",
                "EmailStatus": null,
                "EmailStatusReason": null,
                "SendDateTime": "@triggerBody()?['DateTimeReceived']",
                "CreatedDateTime": null
              },
              "runAfter": {
                "Process_Each_Attachment": [ "Succeeded" ]
              }
            },

            // ── Step 7: Send to Service Bus ─────────────────────────────────
            "Send_To_Service_Bus": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['servicebus']['connectionId']" }
                },
                "method": "post",
                "path": "@concat('/', encodeURIComponent(parameters('serviceBusQueueName')), '/messages')",
                "body": {
                  "ContentData": "@base64(string(outputs('Build_Service_Bus_Payload')))",
                  "ContentType": "application/json"
                }
              },
              "runAfter": {
                "Build_Service_Bus_Payload": [ "Succeeded" ]
              },
              "retryPolicy": {
                "type": "fixed",
                "count": 3,
                "interval": "PT10S"
              }
            },

            // ── Step 8: Handle Service Bus send failure ─────────────────────
            "Check_Service_Bus_Result": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@actions('Send_To_Service_Bus')['status']",
                      "Failed"
                    ]
                  }
                ]
              },
              "actions": {
                "Log_ServiceBus_Failure_To_Monitor": {
                  "type": "Compose",
                  "inputs": {
                    "severity": "Critical",
                    "message": "LogicAppFailed - Service Bus send failed after 3 retries",
                    "messageId": "@outputs('Sanitise_MessageId')",
                    "senderAddress": "@outputs('Extract_Sender_Address')",
                    "emailSubject": "@triggerBody()?['Subject']",
                    "reason": "Failed to send message to Service Bus after 3 retries"
                  },
                  "runAfter": {}
                },
                "Move_ServiceBus_Failed_Email_To_Failed": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                    },
                    "method": "post",
                    "path": "/Mail/Move/@{encodeURIComponent(triggerBody()?['Id'])}",
                    "body": {
                      "DestinationId": "[parameters('failedEmailsFolder')]"
                    }
                  },
                  "runAfter": {
                    "Log_ServiceBus_Failure_To_Monitor": [ "Succeeded" ]
                  }
                },
                "Terminate_ServiceBus_Failed": {
                  "type": "Terminate",
                  "inputs": { "runStatus": "Failed" },
                  "runAfter": {
                    "Move_ServiceBus_Failed_Email_To_Failed": [ "Succeeded" ]
                  }
                }
              },
              "else": { "actions": {} },
              "runAfter": {
                "Send_To_Service_Bus": [ "Succeeded", "Failed" ]
              }
            },

            // ── Step 9: Mark email as read ──────────────────────────────────
            "Mark_Email_As_Read": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                },
                "method": "patch",
                "path": "/Mail/@{encodeURIComponent(triggerBody()?['Id'])}",
                "body": {
                  "IsRead": true
                }
              },
              "runAfter": {
                "Check_Service_Bus_Result": [ "Succeeded" ]
              }
            },

            // ── Step 10: Log success to Azure Monitor ───────────────────────
            "Log_Success_To_Monitor": {
              "type": "Compose",
              "inputs": {
                "severity": "Info",
                "message": "Email successfully processed",
                "messageId": "@outputs('Sanitise_MessageId')",
                "senderAddress": "@outputs('Extract_Sender_Address')",
                "emailSubject": "@triggerBody()?['Subject']",
                "attachmentCount": "@length(coalesce(triggerBody()?['Attachments'], json('[]')))",
                "stagingFolder": "@outputs('Build_Folder_Path')"
              },
              "runAfter": {
                "Mark_Email_As_Read": [ "Succeeded" ]
              }
            }
          }
        },

        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              },
              "servicebus": {
                "connectionId": "[variables('serviceBusConnectionId')]",
                "connectionName": "[parameters('serviceBusConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/servicebus')]"
              },
              "azureblob": {
                "connectionId": "[variables('azureBlobConnectionId')]",
                "connectionName": "[parameters('azureBlobConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
              }
            }
          },
          "emailPollCount": {
            "value": "[parameters('emailPollCount')]"
          },
          "maxAttachmentSizeMB": {
            "value": "[parameters('maxAttachmentSizeMB')]"
          },
          "stagingContainer": {
            "value": "[parameters('stagingContainer')]"
          },
          "serviceBusQueueName": {
            "value": "[parameters('serviceBusQueueName')]"
          },
          "failedEmailsFolder": {
            "value": "[parameters('failedEmailsFolder')]"
          }
        }
      }
    }
  ],

  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}